@import './_colors.scss';

body {
  background-color: $light-pink;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Notable', sans-serif;
  color: $dark-red;
}

h2, h3 {
  color: $dark-red;
  font-weight: 400;
}

button {
  border: none;
  background-color: $dark-red;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.5rem;
  color: #FFFFFF;
  outline-style: none;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  outline-style: none;
  display: block;
}

.input-label {
  font-size: 0.8rem;
  margin: 0.3rem;
}
