@import '../styles/_colors.scss';

.add-book {
  &__open-button {
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid $dark-red;
    padding: 0rem 0.4rem 0.2rem;
    color: $dark-red;
    font-size: 1.3rem;
    font-weight: 300;
    opacity: 0.8;
  }
}
