.add-book__open-button {
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid #874e4c;
  padding: 0rem 0.4rem 0.2rem;
  color: #874e4c;
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.8;
}

.add-book__add-button {
  margin-left: 1rem;
}
