.book-list {
  width: 30%;
}

.book-list__delete-book {
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid #874e4c;
  padding: 0rem 0.3rem 0.1rem;
  color: #874e4c;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.4;
  margin-left: 0.5rem;
}
